player-connection-mode=Listen
player-connection-guid=1066295848
player-connection-debug=0
player-connection-project-name=ProjectJ
player-connection-ip=192.168.0.37
player-connection-ip=172.31.16.1
player-connection-ip=192.168.32.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
